* {
  box-sizing: inherit;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fefefe;
  color: rgb(53, 53, 52);
  scroll-behavior: smooth;
}

html,
body {
  height: 100vh;
  margin: 0;
  line-height: 1.75em;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
}

header h1 {
  font-weight: 100;
  cursor: pointer;
}

#notes {
  display: flex;
  flex: 1;
  background-color: #fafafa;
}

article {
  font-size: 1.1em;
  padding: 1em;
  background-color: white;
  scrollbar-width: thin;
}

article:focus {
  border: 1px solid rgb(10, 132, 355);
}

article h1 {
  cursor: pointer;
  font-weight: 600;
  margin-top: 0;
  font-size: 1.5em;
}

h1:hover,
article h1:hover,
article.collapsed h1:hover {
  color: #086acd;
}

article h2 {
  font-weight: 600;
  font-size: 1.2em;
}

article a {
  color: #086acd;
}

article a:hover {
  background-color: rgba(10, 132, 255, 0.1);
}

article a:visited {
  color: #9b5485;
}

article blockquote {
  margin: 0;
  padding: 0.1em 1.2em;
  border-left: 3px solid #107c10;
  background-color: rgba(0, 0, 0, 0.1);
}

article.collapsed > * {
  display: none;
}

article.collapsed h1 {
  display: block;
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
}

article section#backlinks {
  background-color: #eee;
  padding: 0.5em;
}

article section#backlinks h3 {
  font-size: 0.9em;
  margin: 0;
  font-weight: normal;
}

article section#backlinks h4 {
  margin: 0;
}

article section#backlinks a {
  text-decoration: none;
  display: block;
  color: rgb(53, 53, 52);
  padding: 0.25em;
}

article section#backlinks ul {
  font-size: 0.9em;
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.callout {
  --callout-color: 68, 138, 255;
  --callout-icon: '📝';
  border-radius: 2px;
  border-left: 4px solid rgb(var(--callout-color));
  background-color: #f2f3f5;
  margin: 1em 0;
}

.callout[data-callout='abstract'],
.callout[data-callout='summary'],
.callout[data-callout='tldr'] {
  --callout-color: 0, 176, 255;
}
.callout[data-callout='info'],
.callout[data-callout='todo'] {
  --callout-color: 0, 184, 212;
  --callout-icon: 'ℹ️';
}
.callout[data-callout='tip'],
.callout[data-callout='hint'],
.callout[data-callout='important'] {
  --callout-color: 0, 191, 165;
  --callout-icon: '👍';
}
.callout[data-callout='success'],
.callout[data-callout='check'],
.callout[data-callout='done'] {
  --callout-color: 0, 200, 83;
  --callout-icon: '✔️';
}
.callout[data-callout='question'],
.callout[data-callout='help'],
.callout[data-callout='faq'] {
  --callout-color: 100, 221, 23;
  --callout-icon: '❓';
}
.callout[data-callout='warning'],
.callout[data-callout='caution'],
.callout[data-callout='attention'] {
  --callout-color: 255, 145, 0;
  --callout-icon: '⚠️';
}
.callout[data-callout='failure'],
.callout[data-callout='fail'],
.callout[data-callout='missing'] {
  --callout-color: 255, 82, 82;
  --callout-icon: '❌';
}
.callout[data-callout='danger'],
.callout[data-callout='error'] {
  --callout-color: 255, 23, 68;
  --callout-icon: '⚡';
}
.callout[data-callout='bug'] {
  --callout-color: 245, 0, 87;
  --callout-icon: '🐛';
}
.callout[data-callout='example'] {
  --callout-color: 124, 77, 255;
  --callout-icon: '📜';
}
.callout[data-callout='quote'],
.callout[data-callout='cite'] {
  --callout-color: 158, 158, 158;
  --callout-icon: '💬';
}

.callout-title {
  font-weight: 700;
  padding: 10px;
  background: rgba(var(--callout-color), 0.1);
}

.callout-title span::before {
  content: var(--callout-icon);
}

.callout-content {
  padding: 5px 15px;
}

.callout-content p {
  margin: 0;
}

iframe {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 100%;
}

@media only screen and (min-width: 601px) {
  header {
    padding: 0 1em;
  }

  #notes {
    flex-direction: row;
    overflow-y: hidden;
  }

  article {
    width: 32em;
    min-width: 32em;
    border-right: 1px solid #ccc;
    overflow-y: auto;
  }

  article.collapsed {
    width: 1.5em;
    min-width: 1.5em;
    padding: 1em 0.8em;
    overflow: hidden;
  }

  article.collapsed h1 {
    writing-mode: vertical-lr;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 600px) {
  #root {
    padding: 0;
  }

  header h1 {
    padding-left: 0.5em;
  }

  #notes {
    flex-direction: column;
    overflow-x: hidden;
  }

  article {
    border-bottom: 1px solid #ccc;
  }

  article.collapsed {
    padding: 1em;
  }

  article.collapsed h1 {
    writing-mode: horizontal-tb;
  }
}

@media (prefers-color-scheme: dark) {
  html,
  #notes {
    background-color: black;
    color: #adb4ac;
  }

  article {
    background-color: #111;
  }

  article a {
    color: #5099e7;
  }

  article h1:hover,
  article.collapsed h1:hover {
    color: #5099e7;
  }

  article.collapsed h1 {
    color: #adb4ac;
  }

  article section#backlinks {
    background-color: #26282b;
  }

  article section#backlinks a {
    color: #adb4ac;
  }

  article blockquote {
    background-color: #26282b;
  }
}

@media (prefers-reduced-motion: no-preference) {
  article.appended {
    animation: append-slideright 0.2s linear;
  }

  @keyframes append-slideright {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  article.collapsed {
    transition: width 0.4s;
  }
}
